<div id="main-image" data-hook>
  <%= render :partial => 'image_pretty_photo' %>
</div>
<div id="thumbnails" data-hook>
  <%= render :partial => 'thumbnails_pretty_photo', :locals => { :product => @product } %>
</div>
